

.main{
    display: flex;
    justify-content: space-between;
    background-color: silver;
    align-items: center;
    padding: 15px 40px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 100px;
transition: .5s;
}
.logo img:hover{
    scale: 1.1;
}
.social img{
    width: 30px;

}
.social a{
    text-decoration: none;

}
.links h1:hover{
color:bisque;
font-size: 70px;
}
.links h1{
    transition: .3s;
}