.main {
  display: flex;
  justify-content: space-between;
  background-color: silver;
  align-items: center;
  padding: 15px 40px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  transition: 0.5s;
}
.logo img:hover {
  scale: 1.1;
}
.social img {
  width: 30px;
  display: block;
  padding: 2px;
}
.social a {
  text-decoration: none;
}
.links a:hover {
  color: bisque;
  font-size: 70px;
}
.links a {
  transition: 0.3s;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.text {
  display: block;
  text-align: center;
  background-image: url("ffffon.jpg");
}
.text t {
  display: block;
  margin: 10px;
  color: dimgray;
}
.text h2 {
  align-items: center;
  margin-bottom: 10px;
  color: black;
}
.text h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
